## Lakehouse Sharing Example

### Notebook setup 

Since we already have virtualenvs setup , to use the delta-sharing client for this lakehouse-sharing server, follow below steps
- install ipykernel

   ``` 
   pip install ipykernel
   ```
- register virtualenv in jupyter notebook
    ``` 
    source venv/bin/activate
    python -m ipykernel install --user --name=lakehouse-sharing
    ```
- Install deltasharing python client

    ```
    pip install delta-sharing
    ```

In [13]:
import delta_sharing
from delta_sharing import Share,Schema,Table
# Point to the profile file. It can be a file on the local file system or a file on a remote storage.
profile_file = "profile.json"

# Create a SharingClient.
client = delta_sharing.SharingClient(profile_file)

# List all shares

In [14]:
client.list_shares()

[Share(name='delta_share1')]

## List Schemas

In [18]:
schemas = client.list_schemas(share=Share("delta_share1"))
schemas

[Schema(name='delta_schema', share='delta_share1'),
 Schema(name='delta_schema1', share='delta_share1')]

## List Tables

In [19]:
client.list_tables(schemas[0])

[Table(name='test_hm', share='delta_share1', schema='delta_schema')]

## List all tables

In [20]:
client.list_all_tables()

[Table(name='test_hm', share='delta_share1', schema='delta_schema'),
 Table(name='test_student', share='delta_share1', schema='delta_schema1')]

## Iceberg Table

In [21]:
# table_url = profile_file + "#iceberg_share.tripsdb.iceberg_benchmark_nyc_taxi_trips_v2"

# Fetch 10 rows from a table and convert it to a Pandas DataFrame. This can be used to read sample data 
# from a table that cannot fit in the memory.
# delta_sharing.load_as_pandas(table_url, limit=100,version=0)

## Delta Table

In [22]:
table_url = profile_file + "#delta_share1.delta_schema.test_hm"

# Fetch 10 rows from a table and convert it to a Pandas DataFrame. This can be used to read sample data 
# from a table that cannot fit in the memory.
delta_sharing.load_as_pandas(table_url, limit=10)

   id name department
0   1  hm1      maths
1   2  hm2      maths
2   3  hm3      maths
3   4  hm4     maths1
4   5  hm5     maths1
5   6  hm6     maths6
6   7  hm7     maths7