## Lakehouse Sharing Example

### Notebook setup 

Since we already have virtualenvs setup , to use the delta-sharing client for this lakehouse-sharing server, follow below steps
- install ipykernel

   ``` 
   pip install ipykernel
   ```
- register virtualenv in jupyter notebook
    ``` 
    source venv/bin/activate
    python -m ipykernel install --user --name=lakehouse-sharing
    ```
- Install deltasharing python client

    ```
    pip install delta-sharing
    ```

In [1]:
import delta_sharing
from delta_sharing import Share,Schema,Table
# Point to the profile file. It can be a file on the local file system or a file on a remote storage.
profile_file = "profile.json"

# Create a SharingClient.
client = delta_sharing.SharingClient(profile_file)

# List all shares

In [2]:
client.list_shares()

[Share(name='delta_share1'),
 Share(name='delta_share2'),
 Share(name='delta_share3'),
 Share(name='iceberg_share')]

## List Schemas

In [4]:
schemas = client.list_schemas(share=Share("iceberg_share"))
schemas

[Schema(name='tripsdb', share='iceberg_share')]

## List Tables

In [6]:
client.list_tables(schemas[0])

[Table(name='iceberg_benchmark_nyc_taxi_trips_v2', share='iceberg_share', schema='tripsdb')]

## List all tables

In [8]:
client.list_all_tables()

[Table(name='test_hm', share='delta_share1', schema='delta_schema'),
 Table(name='test_student', share='delta_share1', schema='delta_schema1'),
 Table(name='test_hm', share='delta_share2', schema='schema2'),
 Table(name='test_teacher', share='delta_share3', schema='delta_schema2'),
 Table(name='iceberg_benchmark_nyc_taxi_trips_v2', share='iceberg_share', schema='tripsdb')]

## Iceberg Table

In [10]:
table_url = profile_file + "#iceberg_share.tripsdb.iceberg_benchmark_nyc_taxi_trips_v2"

# Fetch 10 rows from a table and convert it to a Pandas DataFrame. This can be used to read sample data 
# from a table that cannot fit in the memory.
delta_sharing.load_as_pandas(table_url, limit=10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2011-01-01 00:10:00+00:00,2011-01-01 00:12:00+00:00,4.0,0.00,1.0,None,145,145,1,2.9,0.5,0.5,0.28,0.0,0.0,4.18,NaN,NaN
1,2,2011-01-30 11:29:00+00:00,2011-01-30 11:33:00+00:00,1.0,0.09,1.0,None,107,170,1,4.5,0.0,0.5,2.00,0.0,0.0,7.00,NaN,NaN
2,2,2011-01-01 00:04:00+00:00,2011-01-01 00:13:00+00:00,4.0,0.00,1.0,None,264,264,1,5.7,0.5,0.5,0.24,0.0,0.0,6.94,NaN,NaN
3,2,2011-01-30 11:38:00+00:00,2011-01-30 11:44:00+00:00,1.0,0.09,1.0,None,100,246,2,5.3,0.0,0.5,0.00,0.0,0.0,5.80,NaN,NaN
4,2,2011-01-01 00:14:00+00:00,2011-01-01 00:16:00+00:00,4.0,0.00,1.0,None,264,264,1,2.9,0.5,0.5,1.11,0.0,0.0,5.01,NaN,NaN
5,2,2011-01-30 11:14:00+00:00,2011-01-30 11:27:00+00:00,2.0,2.41,1.0,None,237,246,1,9.3,0.0,0.5,3.00,0.0,0.0,12.80,NaN,NaN
6,2,2011-01-01 00:04:00+00:00,2011-01-01 00:06:00+00:00,5.0,0.00,1.0,None,146,146,1,2.9,0.5,0.5,0.00,0.0,0.0,3.90,NaN,NaN
7,2,2011-01-30 11:28:00+00:00,2011-01-30 11:44:00+00:00,3.0,2.61,1.0,None,246,107,1,10.5,0.0,0.5,2.00,0.0,0.0,13.00,NaN,NaN
8,2,2011-01-01 00:08:00+00:00,2011-01-01 00:08:00+00:00,5.0,0.00,1.0,None,146,146,1,2.5,0.5,0.5,0.11,0.0,0.0,3.61,NaN,NaN
9,2,2011-01-30 11:46:00+00:00,2011-01-30 11:54:00+00:00,2.0,1.77,1.0,None,107,161,2,6.9,0.0,0.5,0.00,0.0,0.0,7.40,NaN,NaN

## Delta Table

In [ ]:
table_url = profile_file + "#iceberg_share.tripsdb.iceberg_benchmark_nyc_taxi_trips_v2"

# Fetch 10 rows from a table and convert it to a Pandas DataFrame. This can be used to read sample data 
# from a table that cannot fit in the memory.
delta_sharing.load_as_pandas(table_url, limit=10)